# Agrupamento dos exemplos

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats

In [16]:
df = pd.read_csv('Data/2000-2010/DENGUE_2000_2006.tsv',
                 sep = '\t', dtype = 'unicode')

In [17]:
label_column_name = 'CON_CLASSI'
pos_column_name = 'POSITIVOS'
neg_column_name = 'NEGATIVOS'

Definição da função principal de processamento

In [18]:
def process_data(sample_df, ref_column_name, label_column_name, ):
    df_positive = sample_df[sample_df[label_column_name].isin(['1', '2', '3', '4'])]
    df_negative = sample_df[sample_df[label_column_name] == '5']
    positive_count = df_positive.groupby([ref_column_name])[ref_column_name].count()
    positive_count = positive_count.rename(pos_column_name)
    negative_count = df_negative.groupby([ref_column_name])[ref_column_name].count()
    negative_count = negative_count.rename(neg_column_name)
    df_counts = pd.DataFrame([positive_count, negative_count]).T
    posneg_sum = df_counts.sum(axis = 1)
    group_sum = df_counts.sum(axis = 0)
    df_counts['TOTAL'] = posneg_sum
    df_counts['% POS'] = positive_count.div(posneg_sum)
    df_counts['% NEG'] = negative_count.div(posneg_sum)
    df_counts['% TOTAL_POS'] = positive_count.div(group_sum[pos_column_name])
    df_counts['% TOTAL_NEG'] = negative_count.div(group_sum[neg_column_name])
#     df_counts['% P_TOTAL'] = positive_count.div(group_sum.sum())
#     df_counts['% N_TOTAL'] = negative_count.div(group_sum.sum())
    return df_counts

   ## Agrupamento dos exemplos por grau de escolaridade

In [19]:
ref_column_name = 'CS_ESCOLAR'
sample_df = df.loc[:, [ref_column_name, label_column_name]]
df_counts = process_data(sample_df, ref_column_name, label_column_name)
df_counts

,POSITIVOS,NEGATIVOS,TOTAL,% POS,% NEG,% TOTAL_POS,% TOTAL_NEG
CS_ESCOLAR,,,,,,,
1,67913,38085,105998,0.640701,0.359299,0.053324,0.054497
2,102381,74741,177122,0.578025,0.421975,0.080387,0.106949
3,371663,201663,573326,0.648258,0.351742,0.291822,0.288566
4,236331,142092,378423,0.624515,0.375485,0.185562,0.203324
5,88278,56444,144722,0.609983,0.390017,0.069314,0.080768
6,83521,60968,144489,0.578044,0.421956,0.065579,0.087241
9,323509,124852,448361,0.721537,0.278463,0.254012,0.178655

## Agrupamento dos exemplos por idade

In [20]:
def parse_age(value):
    result = 0
    nvalue = '0'
    
    if value == np.nan:
        return np.nan
        
    try:
        if 'A' in value:
            result = float(value.replace('A', ''))
#             if n < 10:
#                 result = 10
#             elif n < 20:
#                 result = 20
#             elif n < 30:
#                 result = 30
#             elif n < 40:
#                 result = 40
#             elif n < 50:
#                 result = 50
#             elif n < 60:
#                 result = 60
#             else:
#                 result = 61                
        elif 'M' in value:    
            result = float(value.replace('M', '')) / 12
        elif 'D' in value:    
            result = float(value.replace('M', '')) / 365
        
        return result
    except:
        return result

É necessário agrupar as idades em faixas para melhorar o entendimento

In [21]:
ref_column_name = 'NU_IDADE'
sample_df = df.loc[:, [ref_column_name, label_column_name]]
sample_df['NU_IDADE'] = pd.to_numeric(sample_df[ref_column_name].apply(parse_age))
df_counts = process_data(sample_df, ref_column_name, label_column_name)

conditions = [
    (df_counts.index < 10),
    (df_counts.index >= 10) & (df_counts.index < 20),
    (df_counts.index >= 20) & (df_counts.index < 30),
    (df_counts.index >= 30) & (df_counts.index < 40),
    (df_counts.index >= 40) & (df_counts.index < 50),
    (df_counts.index >= 50) & (df_counts.index < 60),
    (df_counts.index >= 60)
]
#print(df_counts)
choices = ['0 a 10', '10 a 20', '20 a 30', '30 a 40', '40 a 50', '50 a 60', '60+']  
df_counts['FAIXA'] = np.select(conditions, choices, default = 'None')

grp = df_counts.groupby(['FAIXA'])
grp.sum()

,POSITIVOS,NEGATIVOS,TOTAL,% POS,% NEG,% TOTAL_POS,% TOTAL_NEG
FAIXA,,,,,,,
0 a 10,125693.0,88209.0,213902.0,38.374676,18.625324,0.083208,0.111949
10 a 20,268651.0,146610.0,415261.0,6.462629,3.537371,0.177846,0.186067
20 a 30,346607.0,182375.0,528982.0,6.553583,4.446417,0.229453,0.231457
30 a 40,295688.0,147955.0,443643.0,6.666349,3.333651,0.195744,0.187774
40 a 50,222932.0,107548.0,330480.0,6.745698,3.254302,0.147580,0.136492
50 a 60,137730.0,64124.0,201854.0,6.825115,3.174885,0.091177,0.081382
60+,113281.0,51121.0,164402.0,47.006186,30.993814,0.074992,0.064879

Pelo visto pessoas entre 20 e 40 anos são as mais afetadas

In [22]:
# _0_10  = df_counts.loc[0:9.99999, :].sum(axis = 0)
# _10_20 = df_counts.loc[10:19.99999, :].sum(axis = 0)
# _20_30 = df_counts.loc[20:29.99999, :].sum(axis = 0)
# _30_40 = df_counts.loc[30:39.99999, :].sum(axis = 0)
# _40_50 = df_counts.loc[40:49.99999, :].sum(axis = 0)
# _50_60 = df_counts.loc[50:59.99999, :].sum(axis = 0)
# _60_p  = df_counts.loc[60:, :].sum(axis = 0)

# new_df = pd.DataFrame([_0_10, _10_20, _20_30, _30_40, _40_50, _50_60, _60_p])
# new_df

## Agrupamento dos exemplos por sexo

In [23]:
ref_column_name = 'CS_SEXO'
sample_df = df.loc[:, [ref_column_name, label_column_name]]
df_counts = process_data(sample_df, ref_column_name, label_column_name)
df_counts

,POSITIVOS,NEGATIVOS,TOTAL,% POS,% NEG,% TOTAL_POS,% TOTAL_NEG
CS_SEXO,,,,,,,
F,861576,428330,1289906,0.667937,0.332063,0.570361,0.543606
I,2560,699,3259,0.785517,0.214483,0.001695,0.000887
M,646445,358913,1005358,0.643000,0.357000,0.427945,0.455507

## Agrupamento dos exemplos por etnia

In [24]:
ref_column_name = 'CS_RACA'
sample_df = df.loc[:, [ref_column_name, label_column_name]]
df_counts = process_data(sample_df, ref_column_name, label_column_name)
df_counts

,POSITIVOS,NEGATIVOS,TOTAL,% POS,% NEG,% TOTAL_POS,% TOTAL_NEG
CS_RACA,,,,,,,
1,311395,239780,551175,0.564966,0.435034,0.410836,0.454617
2,43801,32223,76024,0.576147,0.423853,0.057788,0.061094
3,11523,7618,19141,0.602006,0.397994,0.015203,0.014444
4,270352,183190,453542,0.596090,0.403910,0.356686,0.347324
5,1644,1302,2946,0.558045,0.441955,0.002169,0.002469
9,119240,63320,182560,0.653155,0.346845,0.157318,0.120053

## Agrupamento dos exemplos por zona de residência

In [25]:
ref_column_name = 'CS_ZONA'
sample_df = df.loc[:, [ref_column_name, label_column_name]]
df_counts = process_data(sample_df, ref_column_name, label_column_name)
df_counts

,POSITIVOS,NEGATIVOS,TOTAL,% POS,% NEG,% TOTAL_POS,% TOTAL_NEG
CS_ZONA,,,,,,,
1,1356791,682418,2039209,0.665352,0.334648,0.933286,0.901832
2,91589,70028,161617,0.566704,0.433296,0.063001,0.092544
3,4257,3520,7777,0.547383,0.452617,0.002928,0.004652
9,1141,736,1877,0.607885,0.392115,0.000785,0.000973

In [26]:
stats.describe(df_counts['TOTAL'])

DescribeResult(nobs=4, minmax=(1877, 2039209), mean=552620.0, variance=987667315876.0, skewness=1.1358944866548513, kurtosis=-0.6821315130065169)

Não é possível afirmar que a zona de residência dos habitantes tenha de fato alguma correlação com a incidência da dengue, porém nota-se uma proporção ligeiramente maior de incidência na zona urbana (0.74 vs 0.67)

## Agrupamento dos exemplos pela semana dos primeiros sintomas

In [27]:
ref_column_name = 'SEM_PRI'
sample_df = df.loc[:, [ref_column_name, label_column_name]]
df_counts = process_data(sample_df, ref_column_name, label_column_name)
df_counts = df_counts.loc[df_counts['TOTAL'] > 20, :]
df_counts

,POSITIVOS,NEGATIVOS,TOTAL,% POS,% NEG,% TOTAL_POS,% TOTAL_NEG
002006,59.0,49.0,108.0,0.546296,0.453704,0.000039,0.000062
010620,19.0,16.0,35.0,0.542857,0.457143,0.000013,0.000020
012000,2923.0,1047.0,3970.0,0.736272,0.263728,0.001935,0.001329
012001,3741.0,1448.0,5189.0,0.720948,0.279052,0.002477,0.001838
012002,5980.0,2303.0,8283.0,0.721961,0.278039,0.003959,0.002923
012003,2616.0,1956.0,4572.0,0.572178,0.427822,0.001732,0.002482
012004,1463.0,1536.0,2999.0,0.487829,0.512171,0.000969,0.001949
012005,1657.0,1284.0,2941.0,0.563414,0.436586,0.001097,0.001630
012006,2419.0,2299.0,4718.0,0.512717,0.487283,0.001601,0.002918
012007,18.0,10.0,28.0,0.642857,0.357143,0.000012,0.000013
020220,11.0,10.0,21.0,0.523810,0.476190,0.000007,0.000013
020320,25.0,16.0,41.0,0.609756,0.390244,0.000017,0.000020
020520,14.0,14.0,28.0,0.500000,0.500000,0.000009,0.000018
020620,19.0,31.0,50.0,0.380000,0.620000,0.000013,0.000039
022000,2450.0,879.0,3329.0,0.735957,0.264043,0.001622,0.001116
022001,4444.0,1580.0,6024.0,0.737716,0.262284,0.002942,0.002005
022002,9282.0,2973.0,12255.0,0.757405,0.242595,0.006145,0.003773
022003,3583.0,2687.0,6270.0,0.571451,0.428549,0.002372,0.003410
022004,1432.0,1651.0,3083.0,0.464483,0.535517,0.000948,0.002095
022005,1976.0,1516.0,3492.0,0.565865,0.434135,0.001308,0.001924
022006,3313.0,2922.0,6235.0,0.531355,0.468645,0.002193,0.003708
030220,51.0,18.0,69.0,0.739130,0.260870,0.000034,0.000023
030520,8.0,20.0,28.0,0.285714,0.714286,0.000005,0.000025
030620,32.0,55.0,87.0,0.367816,0.632184,0.000021,0.000070
032000,2217.0,868.0,3085.0,0.718639,0.281361,0.001468,0.001102
032001,6088.0,2186.0,8274.0,0.735799,0.264201,0.004030,0.002774
032002,16011.0,4622.0,20633.0,0.775990,0.224010,0.010599,0.005866
032003,4525.0,2928.0,7453.0,0.607138,0.392862,0.002996,0.003716
032004,1682.0,1854.0,3536.0,0.475679,0.524321,0.001113,0.002353
032005,2123.0,1817.0,3940.0,0.538832,0.461168,0.001405,0.002306
...,...,...,...,...,...,...,...
502003,1003.0,1310.0,2313.0,0.433636,0.566364,0.000664,0.001663
502004,1074.0,963.0,2037.0,0.527246,0.472754,0.000711,0.001222
502005,1266.0,1303.0,2569.0,0.492799,0.507201,0.000838,0.001654
502006,1890.0,1397.0,3287.0,0.574992,0.425008,0.001251,0.001773
510520,9.0,14.0,23.0,0.391304,0.608696,0.000006,0.000018
510620,60.0,33.0,93.0,0.645161,0.354839,0.000040,0.000042
511999,10.0,18.0,28.0,0.357143,0.642857,0.000007,0.000023
512000,1054.0,293.0,1347.0,0.782480,0.217520,0.000698,0.000372
512001,2103.0,842.0,2945.0,0.714092,0.285908,0.001392,0.001069
512002,1446.0,1170.0,2616.0,0.552752,0.447248,0.000957,0.001485
512003,878.0,984.0,1862.0,0.471536,0.528464,0.000581,0.001249
512004,1033.0,852.0,1885.0,0.548011,0.451989,0.000684,0.001081
512005,1229.0,1241.0,2470.0,0.497571,0.502429,0.000814,0.001575
512006,1417.0,1083.0,2500.0,0.566800,0.433200,0.000938,0.001374
520520,16.0,8.0,24.0,0.666667,0.333333,0.000011,0.000010
520620,51.0,23.0,74.0,0.689189,0.310811,0.000034,0.000029
521999,46.0,54.0,100.0,0.460000,0.540000,0.000030,0.000069
522000,1002.0,231.0,1233.0,0.812652,0.187348,0.000663,0.000293
522001,2657.0,866.0,3523.0,0.754187,0.245813,0.001759,0.001099
522002,1351.0,1063.0,2414.0,0.559652,0.440348,0.000894,0.001349
522003,728.0,697.0,1425.0,0.510877,0.489123,0.000482,0.000885
522004,1197.0,1036.0,2233.0,0.536050,0.463950,0.000792,0.001315
522005,1535.0,1433.0,2968.0,0.517183,0.482817,0.001016,0.001819
522006,774.0,580.0,1354.0,0.571640,0.428360,0.000512,0.000736
530320,4.0,23.0,27.0,0.148148,0.851852,0.000003,0.000029
532003,970.0,1021.0,1991.0,0.487192,0.512808,0.000642,0.001296
6.2006,76.0,53.0,129.0,0.589147,0.410853,0.000050,0.000067
7.2006,74.0,59.0,133.0,0.556391,0.443609,0.000049,0.000075
8.2006,58.0,48.0,106.0,0.547170,0.452830,0.000038,0.000061
9.2006,62.0,58.0,120.0,0.516667,0.483333,0.000041,0.000074