# Descrição do dataset

Dados do SUS sobre a incidência de de dengue no Brasil

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('data/2000-2010/dengue_2001_dataset.csv', sep = ',', encoding='cp1252')
#data.head(5)
data = data.dropna(axis = 1, how = 'all')
#data.to_csv('data/no_missing_columns.csv', sep=',')

/usr/local/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (7,11,15,17,25,27,29,31,43,51,63,64,66,67,70,71,73,74,75,77,78,79,80,97,107,108,110) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Número de instâncias

In [3]:
data.shape[0]

488590

Número de características

In [4]:
data.shape[1] - 1

110

Número de instâncias sem valores faltantes (missing values)

In [5]:
no_missing = data.dropna()
no_missing.shape[0]

0

Diferentes classificações no dataset

In [6]:
data['CON_CLASSI'].unique()

array([ 5.,  1.,  8., nan,  0.,  3.,  2.,  4.])

In [7]:
#data['DENGUE'].unique()

In [8]:
#data['FEBRE'].unique()

In [9]:
#data['VACINADO'].unique()

In [10]:
#data.isnull().head(5)
series = data.isnull().sum()

In [11]:
column_names = []
for k, v in series.items():
    if (data.shape[0] - v) / data.shape[0] < 0.7:
        #print(v)
        column_names.append(k)
        
#print(len(column_names)) 
#print(column_names)

In [12]:
for c in column_names:
    del data[c]
    
print(data.shape)

(488590, 48)

In [13]:
zeros = data[data['CON_CLASSI'] == 0]
zeros.shape[0]

48404

In [14]:
ones = data[data['CON_CLASSI'] == 1]
ones.shape[0]

285163

In [15]:
twos = data[data['CON_CLASSI'] == 2]
twos.shape[0]

666

In [16]:
threes = data[data['CON_CLASSI'] == 3]
threes.shape[0]

783

In [17]:
fours = data[data['CON_CLASSI'] == 4]
fours.shape[0]

11

In [18]:
fives = data[data['CON_CLASSI'] == 5]
fives.shape[0]

101584

In [19]:
nans = data[data['CON_CLASSI'].isnull()]
nans.shape[0]

48293