In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [2]:
def parse_age(value):
    result = 0
    
    if value == np.nan:
        return np.nan
        
    try:
        if 'A' in value:
            result = float(value.replace('A', ''))              
        elif 'M' in value:    
            result = float(value.replace('M', '')) / 12
        elif 'D' in value:    
            result = float(value.replace('D', '')) / 365
        
        return result
    except:
        return result

In [3]:
def parse_job(value):
    
    if value == np.nan:
        return np.nan
    
    try:
        if 'X' in value:
            return value.replace('X', '')
    except:
        return np.nan

In [4]:
df = pd.read_csv('Data/2000-2010/DENGUE_2000_2006.tsv', sep = '\t', nrows=3000, dtype = 'unicode')
#df = pd.read_csv('Data/2000-2010/dengue_2001_dataset.csv', sep = ',', nrows=50000, encoding='cp1252', dtype = 'unicode')

In [5]:
df.columns.values
hand_picked_features = [
    'CS_RACA', 'CS_ESCOLAR', 'NU_IDADE', 'CS_SEXO',
    'CS_ZONA', 'ID_MN_RESI', 'DENGUE', 'OCUPACAO', 
    'NU_ANO', 'VACINADO', 'FEBRE', 'DURACAO', 'LACO', 
    'CEFALEIA', 'EXANTEMA', 'DOR', 'PROSTACAO', 'MIALGIA',
    'NAUSEAS', 'ARTRALGIA', 'DIARREIA', 'OUTROS', 'INSUFICIEN',
    'EPISTAXE', 'PETEQUIAS', 'GENGIVO', 'METRO', 'HEMATURA', 
    'SANGRAM', 'ASCITE', 'PLEURAL', 'PERICARDI', 'ABDOMINAL', 
    'HEPATO', 'MIOCARDI', 'HIPOTENSAO', 'CHOQUE', 'MANIFESTA']
label = 'CON_CLASSI'

df['NU_IDADE'] = df['NU_IDADE'].apply(parse_age).astype('int64')
df['NU_ANO'] = df['NU_ANO'].astype('int64')
df['OCUPACAO'] = df['OCUPACAO'].apply(parse_job)
df = df.fillna(value={'OCUPACAO':0})
df['OCUPACAO'] = df['OCUPACAO'].astype('category')


X = df.loc[:, hand_picked_features]
y = df.loc[:, label]

# X = X.iloc[2400:2600, :]
# y = y.iloc[2400:2600]
y = y.fillna(0).astype('int64')

# X.to_csv('Data/2000-2010/fs_dengue_2001_dataset.csv', sep = '\t')

In [6]:
print(X.shape)
print(y.shape)

(3000, 38)
(3000,)

In [7]:
new_X = pd.get_dummies(X)

In [8]:
#new_X = new_X.fillna(value={'OCUPACAO':0})
#new_X = new_X.dropna(how='all')

# new_X.to_csv('Data/2000-2010/fs_dengue_00_06_dataset.csv', sep = '\t')
kbest_result = SelectKBest(chi2, k=10).fit(new_X, y)
kbest_result

SelectKBest(k=10, score_func=<function chi2 at 0x113c8c0d0>)

In [9]:
print(len(kbest_result.scores_))
kbest_result.scores_

138

array([3.02774364e+02, 0.00000000e+00, 6.81490385e-01, 2.49956932e+01,
       5.17095551e+00, 2.67268739e+01, 1.04050589e+01, 5.04122904e+01,
       2.27268195e+01, 3.50949265e+00, 1.50000000e+00, 4.58782436e+00,
       8.84673314e+00, 6.09513356e+01, 1.51442308e-01, 4.74358974e-01,
       3.85737179e+00, 3.02884615e-01, 4.46514423e-01, 3.36057692e+00,
       2.20993590e+00, 1.50000000e+00, 9.42307692e-01, 1.06842047e+02,
       4.79585799e+00, 4.74358974e-01, 2.07572115e+00, 1.50000000e+00,
       1.03228022e+00, 1.51442308e-01, 1.50000000e+00, 4.31127820e+01,
       2.15563910e+01, 8.02884615e-01, 3.13005640e+01, 1.51442308e-01,
       2.15563910e+01, 8.02884615e-01, 2.18722879e+02, 8.02884615e-01,
       8.02884615e-01, 1.05281955e+01, 4.31127820e+01, 8.02884615e-01,
       2.15563910e+01, 1.05000000e+01, 2.15563910e+01, 1.50000000e+00,
       8.02884615e-01, 2.06512941e+01, 1.72096588e+01, 4.31127820e+01,
       5.78605769e+00, 1.08923283e+01, 6.00000000e+00, 6.95308858e+00,
       4.72026009e+01, 9.80907298e+01, 2.22405202e+01, 8.19142857e+02,
       2.76761495e+01, 6.94256963e+01, 4.31127820e+01, 4.50000000e+00,
       8.13396472e+00, 2.15563910e+01, 3.02832213e+02, 6.00000000e+00,
       1.51442308e-01, 1.67987006e+00, 4.96708442e+01, 2.82295113e+01,
       0.00000000e+00, 8.18292021e+01, 3.48341274e+01, 2.45106296e+01,
       5.63491809e+01, 3.22817402e+01, 1.50000000e+00, 4.50000000e+00,
       2.08977371e+00, 2.21307279e+01, 2.97747490e+01, 6.52784151e+01,
       5.89592463e+01, 2.67242626e-01, 3.82507745e+01, 1.96974230e+01,
       1.39025448e+00, 2.73722451e+02, 3.08172407e+02, 2.48905535e+00,
       1.48512892e+02, 7.83010318e+01, 2.25359472e+00, 2.29572357e+02,
       2.44415217e+02, 1.43285928e+00, 4.30713726e+01, 3.56369386e+01,
       2.45192308e-01, 1.95289251e+02, 1.37828357e+02, 3.52714719e-02,
       2.07572115e+00, 3.36057692e+00, 2.07572115e+00, 9.84652751e+00,
       4.69514307e+01, 3.17038389e+00, 5.13536184e+01, 3.76141383e+01,
       2.25359472e+00, 3.27101332e+00, 4.77018464e+01, 5.14812819e+00,
       2.07572115e+00, 2.07572115e+00, 2.07572115e+00, 1.40814303e+01,
       4.56129486e+01, 9.93372855e-01, 8.40288462e+00, 3.69529428e+01,
       2.27924857e+01, 2.07572115e+00, 5.48270402e+01, 3.00818661e+01,
       3.00946765e-01, 6.93956044e+00, 3.56871293e+01, 1.88438250e+01,
       2.07572115e+00, 2.07572115e+00, 1.29673416e+02, 4.06238109e+01,
       3.17214740e-01, 1.86858974e+00])

In [10]:
print(len(kbest_result.pvalues_))
#kbest_result.pvalues_

138

In [13]:
mask = kbest_result.get_support()
kbest_df = new_X.loc[:, mask]
kbest_df

,NU_IDADE,ID_MN_RESI_2702108,ID_MN_RESI_2707701,ID_MN_RESI_2709152,DOR_1,DOR_2,PROSTACAO_1,MIALGIA_1,MIALGIA_2,ARTRALGIA_1
0,46,0,0,0,1,0,1,1,0,1
1,23,0,0,0,1,0,0,1,0,1
2,20,0,0,0,1,0,0,0,1,0
3,30,0,0,0,0,1,0,1,0,0
4,8,0,0,0,0,0,0,0,0,0
5,21,0,0,0,0,1,0,0,1,0
6,24,0,0,0,1,0,1,1,0,1
7,25,0,0,0,1,0,1,1,0,1
8,57,0,0,0,1,0,0,1,0,1
9,25,0,0,0,0,1,1,0,1,0
10,46,0,0,0,1,0,1,0,1,1
11,55,0,0,0,1,0,1,0,1,1
12,6,0,0,0,1,0,0,1,0,0
13,40,0,0,0,1,0,0,0,1,0
14,35,0,0,0,0,1,1,1,0,0
15,31,0,0,0,1,0,1,1,0,1
16,32,0,0,0,0,0,0,0,0,0
17,9,0,0,0,0,0,0,0,0,0
18,27,0,0,0,0,1,0,0,1,1
19,43,0,0,0,1,0,0,1,0,0
20,6,0,0,0,0,0,0,0,0,0
21,0,0,0,0,0,0,0,0,0,0
22,31,0,0,0,0,0,0,0,0,0
23,22,0,0,0,1,0,1,1,0,1
24,56,0,0,0,1,0,1,1,0,1
25,36,0,0,0,0,1,0,1,0,1
26,18,0,0,0,1,0,0,1,0,1
27,17,0,0,0,0,1,1,1,0,1
28,18,0,0,0,1,0,0,1,0,1
29,31,0,0,0,1,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...
2970,30,0,0,1,0,0,0,1,0,1
2971,25,0,0,1,0,1,0,0,1,0
2972,9,0,0,1,0,0,0,0,0,0
2973,17,0,0,1,1,0,0,1,0,1
2974,36,0,0,1,1,0,1,1,0,1
2975,27,0,0,1,1,0,1,1,0,1
2976,38,0,0,1,1,0,1,1,0,1
2977,42,0,0,1,1,0,1,1,0,1
2978,10,0,0,1,0,1,0,0,1,0
2979,32,0,0,1,1,0,0,1,0,1
2980,1,0,0,1,0,0,0,1,0,0
2981,24,0,0,1,1,0,0,0,1,1
2982,50,0,0,1,0,1,0,0,1,0
2983,20,0,0,1,0,1,0,1,0,1
2984,49,0,0,1,0,1,0,1,0,1
2985,2,0,0,1,0,1,0,1,0,0
2986,5,0,0,1,1,0,0,0,1,0
2987,44,0,0,1,0,1,0,0,1,0
2988,30,0,0,1,1,0,1,1,0,1
2989,40,0,0,1,0,1,0,0,1,0
2990,31,0,0,1,0,0,0,0,0,0
2991,17,0,0,1,1,0,1,0,1,1
2992,5,0,0,1,1,0,1,0,1,1
2993,52,0,0,1,0,1,1,0,1,1
2994,37,0,0,1,1,0,0,0,1,1
2995,33,0,0,1,1,0,0,0,1,1
2996,38,0,0,1,1,0,0,0,0,1
2997,26,0,0,1,0,0,0,0,0,0
2998,32,0,0,1,0,0,0,0,0,0
2999,15,0,0,1,0,0,0,0,0,0