# Agrupamento dos exemplos

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats

In [2]:
df = pd.read_csv('Data/2000-2010/DENGUE_2000_2006.tsv',
                 sep = '\t', encoding='cp1252', dtype = 'unicode')

In [3]:
label_column_name = 'CON_CLASSI'
pos_column_name = 'POSITIVOS'
neg_column_name = 'NEGATIVOS'

Definição da função principal de processamento

In [4]:
def process_data(sample_df, ref_column_name, label_column_name, ):
    df_positive = sample_df[sample_df[label_column_name].isin(['1', '2', '3', '4'])]
    df_negative = sample_df[sample_df[label_column_name] == '5']
    positive_count = df_positive.groupby([ref_column_name])[ref_column_name].count()
    positive_count = positive_count.rename(pos_column_name)
    negative_count = df_negative.groupby([ref_column_name])[ref_column_name].count()
    negative_count = negative_count.rename(neg_column_name)
    df_counts = pd.DataFrame([positive_count, negative_count]).T
    posneg_sum = df_counts.sum(axis = 1)
    group_sum = df_counts.sum(axis = 0)
    df_counts['TOTAL'] = posneg_sum
    df_counts['% POS'] = positive_count.div(posneg_sum)
    df_counts['% NEG'] = negative_count.div(posneg_sum)
    df_counts['% TOTAL_POS'] = positive_count.div(group_sum[pos_column_name])
    df_counts['% TOTAL_NEG'] = negative_count.div(group_sum[neg_column_name])
#     df_counts['% P_TOTAL'] = positive_count.div(group_sum.sum())
#     df_counts['% N_TOTAL'] = negative_count.div(group_sum.sum())
    return df_counts

   ## Agrupamento dos exemplos por grau de escolaridade

In [5]:
ref_column_name = 'CS_ESCOLAR'
sample_df = df.loc[:, [ref_column_name, label_column_name]]
df_counts = process_data(sample_df, ref_column_name, label_column_name)
df_counts

,POSITIVOS,NEGATIVOS,TOTAL,% POS,% NEG,% TOTAL_POS,% TOTAL_NEG
CS_ESCOLAR,,,,,,,
1,15606,5699,21305,0.732504,0.267496,0.063221,0.062177
2,2224,1440,3664,0.606987,0.393013,0.009010,0.015711
3,95355,39023,134378,0.709603,0.290397,0.386289,0.425746
4,42472,16421,58893,0.721172,0.278828,0.172057,0.179155
5,13541,5293,18834,0.718966,0.281034,0.054855,0.057747
6,15039,7349,22388,0.671744,0.328256,0.060924,0.080178
9,62612,16433,79045,0.792106,0.207894,0.253645,0.179286

## Agrupamento dos exemplos por idade

In [6]:
def parse_age(value):
    result = 0
    nvalue = '0'
    
    if value == np.nan:
        return np.nan
        
    try:
        if 'A' in value:
            result = float(value.replace('A', ''))
#             if n < 10:
#                 result = 10
#             elif n < 20:
#                 result = 20
#             elif n < 30:
#                 result = 30
#             elif n < 40:
#                 result = 40
#             elif n < 50:
#                 result = 50
#             elif n < 60:
#                 result = 60
#             else:
#                 result = 61                
        elif 'M' in value:    
            result = float(value.replace('M', '')) / 12
        elif 'D' in value:    
            result = float(value.replace('M', '')) / 365
        
        return result
    except:
        return result

É necessário agrupar as idades em faixas para melhorar o entendimento

In [7]:
ref_column_name = 'NU_IDADE'
sample_df = df.loc[:, [ref_column_name, label_column_name]]
sample_df['NU_IDADE'] = pd.to_numeric(sample_df[ref_column_name].apply(parse_age))
df_counts = process_data(sample_df, ref_column_name, label_column_name)

conditions = [
    (df_counts.index < 10),
    (df_counts.index >= 10) & (df_counts.index < 20),
    (df_counts.index >= 20) & (df_counts.index < 30),
    (df_counts.index >= 30) & (df_counts.index < 40),
    (df_counts.index >= 40) & (df_counts.index < 50),
    (df_counts.index >= 50) & (df_counts.index < 60),
    (df_counts.index >= 60)
]
#print(df_counts)
choices = ['0 a 10', '10 a 20', '20 a 30', '30 a 40', '40 a 50', '50 a 60', '60+']  
df_counts['FAIXA'] = np.select(conditions, choices, default = 'None')

grp = df_counts.groupby(['FAIXA'])
grp.sum()

,POSITIVOS,NEGATIVOS,TOTAL,% POS,% NEG,% TOTAL_POS,% TOTAL_NEG
FAIXA,,,,,,,
0 a 10,21538.0,10122.0,31660.0,20.934093,14.065907,0.075144,0.099642
10 a 20,48855.0,17986.0,66841.0,7.305971,2.694029,0.170450,0.177055
20 a 30,64174.0,23315.0,87489.0,7.336508,2.663492,0.223897,0.229514
30 a 40,58395.0,20499.0,78894.0,7.402713,2.597287,0.203735,0.201794
40 a 50,44228.0,14588.0,58816.0,7.524869,2.475131,0.154307,0.143605
50 a 60,27296.0,8468.0,35764.0,7.638002,2.361998,0.095233,0.083360
60+,22137.0,6606.0,28743.0,35.466599,12.533401,0.077234,0.065030

Pelo visto pessoas entre 20 e 40 anos são as mais afetadas

In [8]:
# _0_10  = df_counts.loc[0:9.99999, :].sum(axis = 0)
# _10_20 = df_counts.loc[10:19.99999, :].sum(axis = 0)
# _20_30 = df_counts.loc[20:29.99999, :].sum(axis = 0)
# _30_40 = df_counts.loc[30:39.99999, :].sum(axis = 0)
# _40_50 = df_counts.loc[40:49.99999, :].sum(axis = 0)
# _50_60 = df_counts.loc[50:59.99999, :].sum(axis = 0)
# _60_p  = df_counts.loc[60:, :].sum(axis = 0)

# new_df = pd.DataFrame([_0_10, _10_20, _20_30, _30_40, _40_50, _50_60, _60_p])
# new_df

## Agrupamento dos exemplos por sexo

In [9]:
ref_column_name = 'CS_SEXO'
sample_df = df.loc[:, [ref_column_name, label_column_name]]
df_counts = process_data(sample_df, ref_column_name, label_column_name)
df_counts

,POSITIVOS,NEGATIVOS,TOTAL,% POS,% NEG,% TOTAL_POS,% TOTAL_NEG
CS_SEXO,,,,,,,
F,164666,55957,220623,0.746368,0.253632,0.574506,0.550845
I,619,246,865,0.715607,0.284393,0.002160,0.002422
M,121337,45381,166718,0.727798,0.272202,0.423335,0.446734

## Agrupamento dos exemplos por etnia

In [10]:
ref_column_name = 'CS_RACA'
sample_df = df.loc[:, [ref_column_name, label_column_name]]
df_counts = process_data(sample_df, ref_column_name, label_column_name)
df_counts

,POSITIVOS,NEGATIVOS,TOTAL,% POS,% NEG,% TOTAL_POS,% TOTAL_NEG
CS_RACA,,,,,,,
1,6828,4398,11226,0.608231,0.391769,0.318233,0.423536
2,917,541,1458,0.628944,0.371056,0.042739,0.052099
3,313,181,494,0.633603,0.366397,0.014588,0.017431
4,8494,3721,12215,0.695375,0.304625,0.395880,0.358340
5,41,38,79,0.518987,0.481013,0.001911,0.003659
9,4863,1505,6368,0.763662,0.236338,0.226650,0.144935

## Agrupamento dos exemplos por zona de residência

In [11]:
ref_column_name = 'CS_ZONA'
sample_df = df.loc[:, [ref_column_name, label_column_name]]
df_counts = process_data(sample_df, ref_column_name, label_column_name)
df_counts

,POSITIVOS,NEGATIVOS,TOTAL,% POS,% NEG,% TOTAL_POS,% TOTAL_NEG
CS_ZONA,,,,,,,
1,264644,90953,355597,0.744225,0.255775,0.944766,0.922978
2,15401,7529,22930,0.671653,0.328347,0.054981,0.076403
3,32,38,70,0.457143,0.542857,0.000114,0.000386
9,39,23,62,0.629032,0.370968,0.000139,0.000233

In [12]:
stats.describe(df_counts['TOTAL'])

DescribeResult(nobs=4, minmax=(62, 355597), mean=94664.75, variance=30376453494.25, skewness=1.141664802365721, kurtosis=-0.6772758388124673)

Não é possível afirmar que a zona de residência dos habitantes tenha de fato alguma correlação com a incidência da dengue, porém nota-se uma proporção ligeiramente maior de incidência na zona urbana (0.74 vs 0.67)

## Agrupamento dos exemplos pela semana dos primeiros sintomas

In [13]:
ref_column_name = 'SEM_PRI'
sample_df = df.loc[:, [ref_column_name, label_column_name]]
df_counts = process_data(sample_df, ref_column_name, label_column_name)
df_counts = df_counts.loc[df_counts['TOTAL'] > 20, :]
df_counts

,POSITIVOS,NEGATIVOS,TOTAL,% POS,% NEG,% TOTAL_POS,% TOTAL_NEG
102001,9317.0,3171.0,12488.0,0.746076,0.253924,0.032506,0.031216
112001,9959.0,3589.0,13548.0,0.735090,0.264910,0.034746,0.035330
12001,3715.0,1436.0,5151.0,0.721219,0.278781,0.012961,0.014136
12002,23.0,8.0,31.0,0.741935,0.258065,0.000080,0.000079
122001,10701.0,4174.0,14875.0,0.719395,0.280605,0.037335,0.041089
132001,10865.0,4016.0,14881.0,0.730126,0.269874,0.037907,0.039534
142001,12868.0,4831.0,17699.0,0.727047,0.272953,0.044895,0.047557
152001,12144.0,4534.0,16678.0,0.728145,0.271855,0.042369,0.044633
162001,14740.0,5031.0,19771.0,0.745536,0.254464,0.051426,0.049526
172001,15142.0,4480.0,19622.0,0.771685,0.228315,0.052829,0.044101
182001,16759.0,4303.0,21062.0,0.795698,0.204302,0.058471,0.042359
192001,15573.0,3702.0,19275.0,0.807938,0.192062,0.054333,0.036443
202001,11581.0,3092.0,14673.0,0.789273,0.210727,0.040405,0.030438
212001,9515.0,3041.0,12556.0,0.757805,0.242195,0.033197,0.029936
22001,4428.0,1562.0,5990.0,0.739232,0.260768,0.015449,0.015376
222001,8409.0,2611.0,11020.0,0.763067,0.236933,0.029338,0.025703
232001,8003.0,2245.0,10248.0,0.780933,0.219067,0.027922,0.022100
242001,5798.0,1738.0,7536.0,0.769374,0.230626,0.020229,0.017109
252001,4836.0,1511.0,6347.0,0.761935,0.238065,0.016872,0.014874
262001,3714.0,1412.0,5126.0,0.724542,0.275458,0.012958,0.013900
272001,3172.0,1284.0,4456.0,0.711849,0.288151,0.011067,0.012640
282001,2782.0,1145.0,3927.0,0.708429,0.291571,0.009706,0.011271
292001,2447.0,1101.0,3548.0,0.689684,0.310316,0.008537,0.010838
302001,2213.0,892.0,3105.0,0.712721,0.287279,0.007721,0.008781
312001,2041.0,907.0,2948.0,0.692334,0.307666,0.007121,0.008929
32001,6059.0,2169.0,8228.0,0.736388,0.263612,0.021139,0.021352
322001,1799.0,856.0,2655.0,0.677589,0.322411,0.006277,0.008427
332001,1677.0,861.0,2538.0,0.660757,0.339243,0.005851,0.008476
342001,1592.0,880.0,2472.0,0.644013,0.355987,0.005554,0.008663
352001,1331.0,885.0,2216.0,0.600632,0.399368,0.004644,0.008712
362001,1088.0,799.0,1887.0,0.576577,0.423423,0.003796,0.007865
372001,1198.0,826.0,2024.0,0.591897,0.408103,0.004180,0.008131
382001,1116.0,816.0,1932.0,0.577640,0.422360,0.003894,0.008033
392001,1070.0,737.0,1807.0,0.592142,0.407858,0.003733,0.007255
402001,1366.0,816.0,2182.0,0.626031,0.373969,0.004766,0.008033
412001,1239.0,759.0,1998.0,0.620120,0.379880,0.004323,0.007472
42001,7054.0,2160.0,9214.0,0.765574,0.234426,0.024611,0.021263
422001,1430.0,922.0,2352.0,0.607993,0.392007,0.004989,0.009076
432001,1358.0,1045.0,2403.0,0.565127,0.434873,0.004738,0.010287
442001,1338.0,853.0,2191.0,0.610680,0.389320,0.004668,0.008397
452001,1742.0,967.0,2709.0,0.643042,0.356958,0.006078,0.009519
462001,1543.0,857.0,2400.0,0.642917,0.357083,0.005383,0.008436
472000,21.0,6.0,27.0,0.777778,0.222222,0.000073,0.000059
472001,2157.0,1097.0,3254.0,0.662876,0.337124,0.007526,0.010799
482001,2167.0,1154.0,3321.0,0.652514,0.347486,0.007560,0.011360
492000,21.0,14.0,35.0,0.600000,0.400000,0.000073,0.000138
492001,2112.0,1106.0,3218.0,0.656308,0.343692,0.007369,0.010888
502000,52.0,31.0,83.0,0.626506,0.373494,0.000181,0.000305
502001,2289.0,1004.0,3293.0,0.695111,0.304889,0.007986,0.009883
512000,124.0,56.0,180.0,0.688889,0.311111,0.000433,0.000551
512001,1820.0,692.0,2512.0,0.724522,0.275478,0.006350,0.006812
52001,7800.0,2440.0,10240.0,0.761719,0.238281,0.027213,0.024020
522000,486.0,129.0,615.0,0.790244,0.209756,0.001696,0.001270
522001,1167.0,381.0,1548.0,0.753876,0.246124,0.004072,0.003751
62001,9000.0,2747.0,11747.0,0.766153,0.233847,0.031400,0.027042
72001,8061.0,2832.0,10893.0,0.740017,0.259983,0.028124,0.027878
82001,6400.0,2151.0,8551.0,0.748450,0.251550,0.022329,0.021175
92001,7999.0,2571.0,10570.0,0.756764,0.243236,0.027908,0.025309